<h1>Listing Faqs</h1>
 
<table>
  <tr>
    <th>ID</th>
    <th>Question</th>
    <th>Answer</th>
  </tr>
 
  <% @faqs.each do |faq| %>
    <tr>
      <td><%= faq.id %></td>
      <td><%= faq.question %></td>
      <td><%= faq.answer %></td>
    </tr>
  <% end %>
</table>